@use 'vars' as *;


.any_price {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap:10px;
    details {
        display: flex;
        flex-direction: column;
        summary {
            padding: 15px 50px 15px 20px;
            cursor: pointer;
            &::before {
                background-image: url('../img/icon/plus.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 40%;
            }
        }

        &[open] summary {
            background-color: $sub_color;
            color:white;
            &::before {
                background-image: url('../img/icon/minus.svg');
            }
        }


        .response {
            margin: 20px 10px;
            .price-item {
                margin-bottom: 5px;
            }
        }
    }
}
