$main_color: #0FC5BF;
$hover_color: #0a908c;
$sub_color: #FF8C00;
$sub_color_hover: #cc7000;
$black_color: #1B2C40;

$gray_bg_color:#EFEFEF;
$gray_border_color:#D9D9D9;
$dark_gray_color: #606060;

$main_transition: all .5s ease;

$main_fonts:'Roboto', sans-serif;
$head_fonts:'Montserrat', sans-serif;

$border_rad: 10px;

$section_space: 40px;
$conteiner_max_w: 1440px;

$box_shadow_big: 0 4px 25px rgba(0, 0, 0, 0.15);;
$box_shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;
